# Игнорировать файлы логов
*.log

# Игнорировать папку с зависимостями
venv/

# Игнорировать файлы базы данных
*.db

# Игнорировать скомпилированные файлы
*.pyc

# Игнорировать папку с сгенерированной документацией
docs/

# Игнорировать временные файлы
tmp/

# Игнорировать файлы конфигурации
config.ini

# Игнорировать файлы с паролями
passwords.txt
